/*Sravanthi, Garuda (1002031710) , Sai Shreyashwi, Admala (1002041392)
    Sowmya Bommasani (1002076763), Vindhya Meghana Lutukurthy (1002046814)
      FNU Devapoojitaa (1002066254)*/

/*PAGE RESPONSIVENESS FOR TABLET*/

.chat-func {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll;
    
}

.chat-func-left,
.chat-func-right {
    display: flex;
    flex-shrink: 0;
    overflow-y: scroll;
    
}

.chat-func-left {
    margin-right: auto;
    
}

.chat-func-right {
    flex-direction: row-reverse;
    margin-left: auto;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.flex-grow-0 {
    flex-grow: 0 !important;
}
.border-top {
    border-top: 1px solid #dee2e6 !important;
}

#msg{
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
}



/* Start of Navbar styling*/
.nav-bar{
    color:black;
    display:flex;
    justify-content: space-between;
    font-family: "Didot";
}

.nav-bar-pages ul{
    display:flex;
    justify-content: space-between;
    list-style-type:none;
    padding: 0%;
    flex-wrap: wrap;
    text-decoration: none;
}

.nav-bar-pages li{
    margin-left: 20px;
    text-decoration: none;
    flex-wrap: wrap;
}
.nav-bar-pages li a{
    color:rgb(1, 1, 1);
    text-decoration: none;
}
.nav-bar-pages li a:hover{
    color:rgb(61, 41, 139);
    text-decoration: underline;
}

.project-title-name a{
    font-family: "Bradley Hand";
    font-size: 28px;
    color:black;
    text-decoration: none;
    margin-top: 10px;
}

/* End of Navbar Styling*/


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    background-color: rgb(52, 38, 108);
    text-align: -webkit-center;
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0px 0 20px;
    color: white;
}

.footer-icons-style {
    text-align: -webkit-center;
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    text-align: center;
}

.footer ul a {
    text-decoration: none;
}




/* Start of Footer

.footer{
     position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(52, 38, 108);
    text-align: -webkit-center;
    width:100%;
    margin: 0% 0% 0% 0%;
    padding:0px 0 20px;
    color: white;
    position:fixed !important; 
    bottom:0;
    z-index: 1;
}

.footer-icons-style{
    text-align: -webkit-center;
}
.footer ul{
    display:flex;
    justify-content:center;
    list-style-type:none;
    padding: 0px;
    flex-wrap: wrap;
    text-decoration: none;
    color:white;
    text-align:center;
}

.footer ul a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}
End of Footer*/



